/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  padding: 10px;
}

.renderedList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.completed {
  background-color: #28a745;
  color: white;
}

/* .renderedList:hover {
  transform: scale(1.1);
} */